* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Roboto Slab", sans-serif;
  background: #171a1d;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 420px;
  border: none;
  border-radius: 20px;
  padding: 10px 25px;
  margin: 30px 10px 60px 10px;
  background: #bcb1a5;
}

div {
  padding-top: 10px;
}

button {
  padding: 8px 10px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  color: #fff;
  box-shadow: 2px 2px 2px #555;
}

button:hover {
  opacity: 0.6;
  transition: 500ms;
}

button.btn-operator {
  background: #ff7f50;
}

button#fields {
  background: #3375ff;
}

button#clear {
  background: #e62900;
}

input {
  padding: 5px;
  margin: 2px;
  width: 48px;
  height: 28px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #999;
}

input:focus {
  border-color: #719ece;
  outline: none !important;
  box-shadow: 0 0 10px #719ece;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Aparentemente, algumas margens ainda estão lá, apesar de estar ocultas */
}

div#display {
  align-items: center;
}

div#new-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

div.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 52px;
  background: #bcb1a5;
  bottom: 0;
  width: 100%;
}

footer a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

footer img {
  width: 50px;
  margin-right: 4px;
}

footer a:hover {
  font-size: 21px;
  transition: 500ms;
}
